.root {
    -fx-background: rgb(0, 0, 0);
}

.title {
    -fx-fill: blue;
    -fx-font-family: "PacFont";
    -fx-font-size: 72;
}

.heading {
    -fx-fill: white;
    -fx-font-family: Arial;
    -fx-font-size: 36;
    -fx-underline: true;
}

.gameOver {
    -fx-font-family: Arial;
    -fx-stroke: white;
    -fx-text-alignment: center;
    -fx-font-size: 24;
}

.info {
    -fx-font-family: Arial;
    -fx-fill: white;
    -fx-font-size: 12;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "PacFont";
}